@model ProbbySocialNetwork.Models.ViewModels.ChatViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Your chat with @Model.otherUser.UserName</h2>

@using ProbbySocialNetwork.Models
<div class="theContent">
    <!--breyta i html helper-->

    <section>
        @using (Html.BeginForm("PostMessage", "Chat", new { chatID = Model.chat.ID }, FormMethod.Post, new { id = "chatForm" }))
        {
            <input type="hidden" name="userid" value="@Model.currentUser.Id " />
            <input type="hidden" name="username" value="@Model.currentUser.UserName" />
            <div class="form-horizontal">
                <label class="sr-only" for="messageText">Text: </label>
                <textarea class="form-control" rows="4" id="messageText" name="messageText" placeholder="Insert message..."></textarea>
            </div>

            @Html.ValidationSummary(false)
        }
    </section>

    <section>
        <div class="messageList" id="messageList">
            @foreach (Message m in Model.messages)
            {
                <div class="message">
                    <div class="message-user-info">
                        @m.UserName
                    </div>
                    <div class="message-body">
                        @m.Text
                    </div>
                </div>
            }
        </div>
    </section>
</div>

<script>
    $('document').ready(function () {
        function refresh() {
            var url = @Url.Action("GetMessages", "Chat", new { chatID = Model.chat.ID })
            $.ajax({
                type: 'GET',
                url: url,
                success: function(data) {
                    //this clear the messagelist
                    $('#messageList').html('');
                    //this returns the new messages
                    for (var i = 0; i < data.length; i++) {
                        $('#messageList').append("<div class='message'>" +
                            '<div class="message-user-info">' + data[i].UserName + '</div>' +
                            '<div class="message-body">' + data[i].Text + '</div>' +
                            '</div>');
                    }
                    alert(data);
                }
            })
        }
        var t = setInterval(refresh, 1000);
    });
</script>