@model ProbbySocialNetwork.Models.ViewModels.ChatViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Your chat with @Model.otherUser.UserName</h2>

@using ProbbySocialNetwork.Models
<div class="container">
    <div class="lhsNav">
        <div class="peopleToChat">
            <h2>Chats:</h2>
            <div class="peopleToChat-list">
                @using ProbbySocialNetwork.Models
                <ul>
                    @foreach (ApplicationUser a in Model.usersChattingWith)
                    {
                        <li>
                            @Html.ActionLink(a.UserName.ToString(), "Index", "Chat", new { username = a.UserName }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="createNewChat">
            <h2>Create new chats:</h2>
            <div class="createNewChat-list">
                <ul>
                    @foreach (ApplicationUser a in Model.availableChatUsers)
                    {
                        if (!Model.usersChattingWith.Contains(a))
                        {
                            <li>
                                @Html.ActionLink("Chat with " + a.UserName.ToString(), "CreateChat", "Chat", new { username = a.UserName }, null)
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="theContent">
        <div class="rhsMessages">
            <!--breyta i html helper-->
            <section>
                @using (Html.BeginForm("PostMessage", "Chat", new { chatID = Model.chat.ID }, FormMethod.Post, new { id = "chatForm" }))
                {
                    <input type="hidden" name="userid" value="@Model.currentUser.Id " />
                    <input type="hidden" name="username" value="@Model.currentUser.UserName" />
                    <div class="form-horizontal">
                        <label class="sr-only" for="messageText">Text: </label>
                        <textarea class="form-control" rows="4" id="messageText" name="messageText" placeholder="Insert message..."></textarea>
                    </div>

                    @Html.ValidationSummary(false)
                }
            </section>
            <section>
                <div class="messageList" id="messageList">
                    @foreach (Message m in Model.messages)
                    {
                        <div class="messageWrapper">
                            <div class="lhsMessage">
                                <div class="message-info">
                                    <img src="@m.UserProfilePic" alt="@m.UserName" class="MessageUserProfilePic" id="MessageUserProfilePic" />
                                </div>
                                <div class="Message-UserName">
                                    @m.UserName
                                </div>
                            </div>
                            <div class="rhsMessage">
                                <div class="message-body">
                                    @m.Text
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>

    <script>
            var url = "@Url.Action("GetMessages", "Chat", new { chatID = Model.chat.ID })";
            $('document').ready(function () {
                function refresh() {
                    //NOTE: Find a better fix, you trifiling gnome.
                    //Otherwise your arrogance will be your undoing.
                    //if ($("#messageText").focusout) {
                        $.ajax({
                            type: 'GET',
                            url: url,
                            success: function (data) {
                                console.log(data);
                                //this clear the messagelist
                                $('#messageList').html('');
                                //this returns the new messages
                                for (var i = 0; i < data.length; i++) {
                                    $('#messageList').append(
                                '<div class="messageWrapper">' +
                                '<div class="lhsMessage">' +
                                '<div class="message-info">' +
                                '<img src="' + data[i].UserProfilePic + '" alt="' + data[i].UserName + '" class="MessageUserProfilePic" id="MessageUserProfilePic" />' +
                                '</div>' +
                                '<div class="Message-UserName">' +
                                data[i].UserName +
                                '</div>' +
                                '</div>' +
                                '<div class="rhsMessage">' +
                                '<div class="message-body">' +
                                data[i].Text +
                                '</div>' +
                                '</div>' +
                                '</div>');
                                }
                                //alert(data);
                            }
                        })
                    //}
                }
                var t = setInterval(refresh, 500);
            });
    </script>
