@model ProbbySocialNetwork.Models.ViewModels.HobbyViewModel

@{
    ViewBag.Title = "Hobby";
}

<div class="container">
    <div class="lhsNav">
        <h2>@Model.currentHobby.Name</h2>
        @if (Model.currentHobbyUsers.Contains(Model.currentUser) && Model.currentHobby.Name != "Misc")
        {
            @Html.ActionLink("Remove Hobby", "RemoveHobby", "Hobby", new { id = Model.currentHobby.ID }, null)
        }
        else if (!Model.currentHobbyUsers.Contains(Model.currentUser) && Model.currentHobby.Name != "Misc")
        {
            @Html.ActionLink("Add Hobby", "AddHobby", "Hobby", new { id = Model.currentHobby.ID }, null)
        }
    </div>
    <div class="theContent">
    <section>
        <h4>Create Status</h4>
        @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { id = "statusForm" }))
        {
            <input type="hidden" name="userid" value="@Model.currentUser.Id" />
            <label>#@Model.currentHobby.Name</label>
            <input type="hidden" name="@Model.currentHobby.Name" value="@Model.currentHobby.Name" />
            <div class="form-horizontal">
                <label class="sr-only" for="statusText">Status</label>
                <textarea class="form-control" rows="4" id="statusText" name="statusText"></textarea>
                <span class="appendTo"></span>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>

            @Html.ValidationSummary(false)
        }
        <button class="onClick">Upload image</button>
    </section>

    @using ProbbySocialNetwork.Models
    <section id="statusList">
        @foreach (Status s in Model.currentHobbyStatusHistory)
        {
            <div class="status">
                <div class="lhsStatus">
                    <div class="karmaContent">
                            @using (Html.BeginForm("UpvoteStatus", "Status", FormMethod.Post, new { id = s.ID }))
                            {
                                <input type="hidden" name="statusId" value="@s.ID" />
                                <button type="submit" class="glyphicon glyphicon-chevron-up upvote arrow"></button>
                            }

                            @if (s.Karma >= 0)
                            {
                                <p class="karmaCount">@s.Karma</p>
                            }
                            else
                            {
                                <p class="karmaCount">0</p>
                            }

                            @using (Html.BeginForm("DownvoteStatus", "Status", FormMethod.Post, new { id = s.ID }))
                            {
                                <input type="hidden" name="statusId" value="@s.ID" />
                                <button type="submit" class="glyphicon glyphicon-chevron-down downvote arrow"></button>
                            }
                        </div>

                    <div class="lhsContent">
                        <p>
                            <img src="@s.ProfilePic" class="postPic" />
                        </p>
                        <p class="postUserName"><a href="/Home/Profile?username=@s.UserName">@s.UserName</a></p>

                        @{ //404 ERROR: No better way to do this found
                            ServiceSingleton serviceManager = ServiceSingleton.GetInstance;
                            HobbyService service = ServiceSingleton.GetHobbyService;
                            List<Hobby> statusHobbies = service.getHobbiesByStatus(s);


                            foreach (Hobby h in statusHobbies)
                            {
                                @Html.ActionLink("#" + h.Name + " ", "Index", "Hobby", routeValues: h, htmlAttributes: new { id = h.ID });
                            }
                        }
                    </div>
               </div>
                <span class="rhsStatus">
                    <div class="statusContent">
                        <!--Status content and edit form for status-->
                        @if (s.PostedToID != "" && s.PostedToID != s.UserID && s.PostedToID != null)
                        { //404 ERROR: No better way to do this found
                            AccountService accountService = ServiceSingleton.GetAccountService;
                            ApplicationUser postedToUser = accountService.getUserByID(s.PostedToID);
                            <p>Posted to <a href="/Home/Profile?username=@postedToUser.UserName">@postedToUser.UserName</a>'s profile</p>
                        }
                        <h3 id="@("statusText"+s.ID)" class="statusContent2">@s.Post</h3>
                        @using (Html.BeginForm("EditStatus", "Status", FormMethod.Post, new { id = s.ID }))
                        {
                            <input type="hidden" name="statusId" value="@s.ID" />
                            <div id="@("statusTextForm"+s.ID)" class="editForm">
                                <input type="text" name="@("statusTextbox"+s.ID)" value="@s.Post" />
                                @if (s.MediaURL != null)
                                {
                                    <input type="text" name="@("picTextbox"+s.ID)" value="@s.MediaURL" />
                                }
                                <button type="submit" name="confirm" value="confirm" class="btn btn-primary">Confirm Edit</button>
                                <button type="submit" name="cancel" value="cancel" class="btn btn-primary">Cancel</button>
                            </div>
                        }
                        @if (s.MediaURL != null)
                        {
                            <img src="@s.MediaURL" alt="image" class="statusContent2" id="@("statusPic"+s.ID)" />
                        }
                    </div>
                    <p>
                        @s.Date 
                        @if (Model.currentUser.Id == s.UserID)
                        {
                            <span> | </span>
                            <a href="#" class="editLink" onclick="editStatus(@s.ID)">Edit</a>
                            <span> | </span>
                            @Html.ActionLink("Remove", "RemoveStatus", "Status", new { id = s.ID }, null)
                        }
                        
                        <span> | </span>
                        @Html.ActionLink("Save", "AddStatusToSavedFeed", "Home", new { id = s.ID }, null)
                    </p>
                    @if (Model.commentsForStatuses != null)
                    {
                        <div class="allComments" id="@("commentForStatus"+s.ID)">
                            @foreach (Comment c in Model.commentsForStatuses)
                            {
                                if (c.StatusID == s.ID)
                                {
                                    <div class="comment">
                                        <h5 id="@("commentText"+c.ID)" class="commentContent2">@c.Body</h5>
                                        @using (Html.BeginForm("EditComment", "Status", FormMethod.Post, new { id = c.ID }))
                                        {
                                            <input type="hidden" name="commentId" value="@c.ID" />
                                            <div id="@("commentTextForm"+c.ID)" class="editForm">
                                                <label for="@("commentTextbox"+c.ID)">Comment:</label>
                                                <br />
                                                <input type="text" name="@("commentTextbox"+c.ID)" value="@c.Body" />
                                                <br />
                                                <button type="submit" name="confirm" value="confirm" class="btn btn-primary">Confirm Edit</button>
                                                <button type="submit" name="cancel" value="cancel" class="btn btn-primary">Cancel</button>
                                            </div>
                                        }
                                        <a href="/Home/Profile?username=@c.UserName">@c.UserName</a> | @c.DateInserted
                                        @if (Model.currentUser.Id == c.UserID)
                                        {
                                            <span> | </span>
                                            <a class="editLink" onclick="editComment(@c.ID)">Edit</a>
                                            <span> | </span>
                                            @Html.ActionLink("Remove", "RemoveComment", "Status", new { id = c.ID }, null)
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }
                    @using (Html.BeginForm("CreateComment", "Status", FormMethod.Post, new { id = "commentForm" }))
                    {
                        <input type="hidden" name="statusID" value="@s.ID" />
                        <div class="form-horizontal">
                            <label class="sr-only" for="commentText">Status</label>
                            <input type="text" class="form-control" name="commentText" placeholder="Write a comment..." />
                        </div>
                        <input type="hidden" name="returnUrl" value="" />
                        @Html.ValidationSummary(false)
                    }
                </span>

            </div>
        }
    </section>

</div>
