@{
    ViewBag.Title = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probby</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img class="logo" src="~/Content/Images/Logo3.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="container-body-content">
        <div class="headers">
            <h1>Welcome to Probby!</h1>
            <h3>What are your hobbies? Connect with other people who share your hobbies and find more about people you already know!</h3>
        </div>
        <div class="container">
            <img id="homePic" src='@Url.Content("~/Content/Images/HomePic.PNG")' />


            @using ProbbySocialNetwork.Models
            @model LoginViewModel
            @{
                ViewBag.Title = "Log in";
            }

            <div class="logIn">
                <h2>@ViewBag.Title.</h2>
                <div class="row">
                    <div class="col-md-8">
                        <section class="logInForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Use a local account to log in.</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*@Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })*@
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Name"})
                                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password"})
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-default" />
                                    </div>
                                </div>
                                <p>
                                    New to Probby? @Html.ActionLink("Sign up", "Register", "Account")!
                                </p>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p class="footer">&copy; @DateTime.Now.Year - Probby Social Network | Want to know more about Probby? You can find more info @Html.ActionLink("here", "About", "Home")!</p>
        </footer>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>

