@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probby</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img class="logo" src="~/Content/Images/Logo2.png" />
                </a>
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "searchBar" }))
                {
                    <div class="form-horizontal">
                        <input type="text" class="searchBar form-control" id="searchBar" name="searchBar" placeholder="Search" />
                    </div>
                    //@Html.ValidationSummary(false)
                }
            </div>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar">
                <li>
                    @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home" })
                </li>
                <!--<li>
                    @*Html.ActionLink("Messages", "Messages", "Home", routeValues: null, htmlAttributes: new { title = "Messages" })*@
                </li>
                <li>
                    @*Html.ActionLink("Notifications", "Notifications", "Home", routeValues: null, htmlAttributes: new { title = "Notifications" })*@
                </li>-->
                <li>
                    @Html.ActionLink("Chats", "Chats", "Home", new { }, null)

<li>
                    @Html.ActionLink("Profile", "Profile", "Home", new { username = User.Identity.Name }, null)
                    
                </li>
                <li>
                    @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                
                <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="footer">&copy; @DateTime.Now.Year - Probby Social Network</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
