@model ProbbySocialNetwork.Models.ViewModels.FeedViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="lhsNav">
        <img src="http://fc06.deviantart.net/fs49/f/2009/220/b/0/Spongebob_4_150x150_PNG_by_somemilk.png">
        <p>@Model.currentUser.UserName</p>

        <h2>Groups</h2>

        <ul>
            @foreach(Group g in Model.currentUserGroups)
            {
                <li>
                    @Html.ActionLink(g.name, "Index", "Group", routeValues: g, htmlAttributes: new { id = g.ID })
                </li>
            }
        </ul>

        <h4>Create a new Group</h4>
        @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post, new { id = "groupForm" }))
        {
            <input type="hidden" name="userid" value="" />
            <div class="form-horizontal">
                <label class="sr-only" for="groupName">Name</label>
                <textarea class="form-control" rows="1" id="groupName" name="groupName" placeholder="Group Name"></textarea>
                <label class="sr-only" for="groupDesc">Description</label>
                <textarea class="form-control" rows="4" id="groupDesc" name="groupDesc" placeholder="Group Description"></textarea>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            @Html.ValidationSummary(false)
        }

        <h2>Hobbies</h2>

        <ul>
            @foreach (Hobby h in Model.currentUserHobbies)
            {
                <li>
                    @Html.ActionLink(h.Name, "Index", "Hobby", routeValues: h, htmlAttributes: new { id = h.ID })
                </li>
            }
        </ul>

        <h4>Create a new Hobby</h4>
        @using (Html.BeginForm("CreateHobby", "Hobby", FormMethod.Post, new { id = "hobbyForm" }))
        {
            <input type="hidden" name="userid" value="" />
            <div class="form-horizontal">
                <label class="sr-only" for="hobbyName">Name</label>
                <textarea class="form-control" rows="1" id="hobbyName" name="hobbyName" placeholder="Hobby Name"></textarea>
                <label class="sr-only" for="hobbyDesc">Description</label>
                <textarea class="form-control" rows="4" id="hobbyDesc" name="hobbyDesc" placeholder="Hobby Description"></textarea>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            @Html.ValidationSummary(false)
        }

    </div>
    <div class="theContent">
        <!--breyta i html helper-->

        <section>
            <h4>Create Status</h4>
            @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { id = "statusForm" }))
            {
                <input type="hidden" name="userid" value="" />
                <div class="form-horizontal">
                    <label class="sr-only" for="statusText">Status</label>
                    <textarea class="form-control" rows="4" id="statusText" name="statusText" ></textarea>
                    <input type="checkbox" id="imageortext" name="imageOrText" value="image" />This is an image<br />
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
                @Html.ValidationSummary(false)
            }
      
        </section>

        @using ProbbySocialNetwork.Models
        <section id="statusList">
            @foreach(Status s in Model.newestStatuses)
            {
                <h3 class="statusContent">
                    @if (s.Post == null)
                    { 
                        <img src="@s.MediaURL" alt="image" />
                        <input type="text" value="@s.MediaURL" class="editTextbox" hidden="" />
                    }
                    else
                    {
                        @s.Post
                        <input type="text" value="@s.Post" class="editTextbox" hidden="" />
                    }

                </h3>
                <p>
                    @Model.currentUser.UserName | @s.Date | 
                    @if (Model.currentUser.Id == s.UserID)
                    {
                        @Html.ActionLink("Edit", "EditStatus", "Status", new { id = s.ID }, new { @class = "myCssClass" })
                        <span> | </span>
                        @Html.ActionLink("Remove", "RemoveStatus", "Status", new { id = s.ID }, null)
                        
                        <script>
                            $(document).ready(function() {
                                $("#editButton").click(function() {
                                    $(".statusContent").css("display: none;")
                                    if (@s.Post == null)
                                    {
                                        $(".editTextbox").css("display: block;");
                                    }
                                    else
                                    {
                                        $(".editTextbox").css("display: block;");
                                    }
                                });
                                
                            });
                        </script>
                    }
                </p>
                if (Model.commentsForStatuses != null)
                { 
                    foreach(Comment c in Model.commentsForStatuses)
                    {
                        if (c.StatusID == s.ID)
                        {
                            <p class="comment">
                                @c.UserName: @c.Body | @c.DateInserted
                                @if (Model.currentUser.Id == s.UserID)
                                {
                                    @Html.ActionLink("Remove", "RemoveComment", "Status", new { id = s.ID }, null)
                                }
                            </p>
                        }
                        
                    }
                }

                using (Html.BeginForm("CreateComment", "Status", FormMethod.Post, new { id = "commentForm" }))
                {
                    <input type="hidden" name="statusID" value="@s.ID" />
                    <div class="form-horizontal">
                        <label class="sr-only" for="commentText">Status</label>
                        <textarea class="form-control" rows="2" id="commentText" name="commentText"></textarea>
                        <button type="submit" class="btn btn-primary">Comment</button>
                    </div>
                    
                    <input type="hidden" name="returnUrl" value="" />
                    @Html.ValidationSummary(false)
                }

            }
        </section>
         
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}