@model ProbbySocialNetwork.Models.ViewModels.FeedViewModel

@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>
    var main = function () {
        $(".onClick").click(function () {
            $(".appendTo").append("<label for='url'>Enter image URL:</label><input type='text' name='url' size='35' maxlength='255'/>");
            $(".onClick").hide();
        });
    }
    $(document).ready(main);
</script>

<div class="newsfeed">
    <div class="container">
        <div class="lhsNav">
            <img src="@Model.currentUser.ProfilePic" class="profilePic">
            <p>@Model.currentUser.UserName</p>

            <div class="group">
                <h2>Your groups</h2>
                <ul>
                    @foreach (Group g in Model.currentUserGroups)
                    {
                        <li>
                            @Html.ActionLink(g.name, "Index", "Group", routeValues: g, htmlAttributes: new { id = g.ID })
                        </li>
                    }
                </ul>

                <div class="groupCreation">
                    <h4>Create a new Group</h4>
                    @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post, new { id = "groupForm" }))
                    {
                        <input type="hidden" name="userid" value="" />
                        <div class="form-horizontal">

                            <label class="sr-only" for="groupName">Name</label>
                            <textarea class="form-control" rows="1" id="groupName" name="groupName" placeholder="Group Name"></textarea>
                            <label class="sr-only" for="groupDesc">Description</label>
                            <textarea class="form-control" rows="4" id="groupDesc" name="groupDesc" placeholder="Group Description"></textarea>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        @Html.ValidationSummary(false)
                    }
                </div>
            </div>

            <div class="hobby">
                <h2>Hobbies</h2>
                <ul>
                    @using ProbbySocialNetwork.Models;
                    @foreach (Hobby h in Model.currentUserHobbies)
                    {
                        <li>
                            @Html.ActionLink("#" + h.Name, "Index", "Hobby", routeValues: h, htmlAttributes: new { id = h.ID })
                        </li>
                    }
                </ul>
                <div class="hobbyCreation">
                    <h4>Create a new Hobby</h4>
                    @using (Html.BeginForm("CreateHobby", "Hobby", FormMethod.Post, new { id = "hobbyForm" }))
                    {
                        <input type="hidden" name="userid" value="" />
                        <div class="form-horizontal">
                            <label class="sr-only" for="hobbyName">Name</label>
                            <textarea class="form-control" rows="1" id="hobbyName" name="hobbyName" placeholder="Hobby Name"></textarea>
                            <label class="sr-only" for="hobbyDesc">Description</label>
                            <textarea class="form-control" rows="4" id="hobbyDesc" name="hobbyDesc" placeholder="Hobby Description"></textarea>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        @Html.ValidationSummary(false)

                    }
                </div>
            </div>
        </div>
        <div class="theContent">
            <!--breyta i html helper-->

            <section>
                <h4>Create Status</h4>
                @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { id = "statusForm" }))
                {
                    <input type="hidden" name="userid" value="@Model.currentUser.Id " />
                    <input type="hidden" name="groupID" value="" />
                    <input type="hidden" name="postedToID" value="" />
                    <select name="chosenHobby">
                        @foreach (Hobby h in Model.currentUserHobbies)
                        {
                            if (@h.Name == "Misc")
                            {
                                <option value="@h.Name" selected="selected">#@h.Name</option>
                            }
                            else
                            {
                                <option value="@h.Name">#@h.Name</option>
                            }
                        }
                    </select>
                    <div class="form-horizontal">
                        <label class="sr-only" for="statusText">Status</label>
                        <textarea class="form-control" rows="4" id="statusText" name="statusText"></textarea>
                        <div class="appendTo"></div>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>

                    @Html.ValidationSummary(false)
                }
                <button class="onClick">Upload image</button>
            </section>

            @using ProbbySocialNetwork.Models
            <section id="statusList">
                @foreach (Status s in Model.newestStatuses)
                {
                    <div class="status">
                        <div class="lhsStatus">
                            <p>
                                <img src="@s.ProfilePic" class="postPic" />
                            <p class="postUserName"><a href="/Home/Profile?username=@s.UserName">@s.UserName</a></p>
                                @{
                                    ServiceSingleton serviceManager = ServiceSingleton.GetInstance;
                                    HobbyService service = ServiceSingleton.GetHobbyService;
                                    Hobby statusHobby = service.getHobbyByID(s.HobbyID);
                                    if (statusHobby != null)
                                    {
                                        <p>#@statusHobby.Name</p>
                                    }   
                                }
                        </div>
                        <span class="rhsStatus">
                            <h3 class="statusContent">
                                
                                <div>
                                    @s.Post
                                    <input type="text" value="@s.Post" class="editTextbox" />
                                </div>

                                @if (s.MediaURL != null)
                                {
                                    <img src="@s.MediaURL" alt="image" />
                                    <input type="text" value="@s.MediaURL" class="editTextbox" />
                                }

                            </h3>
                            <p>
                                @s.Date |
                                @if (Model.currentUser.Id == s.UserID)
                                {
                                    @Html.ActionLink("Edit", "EditStatus", "Status", new { id = s.ID }, new { @class = "myCssClass" })
                                    <span> | </span>
                                    @Html.ActionLink("Remove", "RemoveStatus", "Status", new { id = s.ID }, null)
                    
                                    <script>
                                        $(document).ready(function() {
                                            $("#editButton").click(function() {
                                                $(".statusContent").hide();
                                                if (@s.Post == null)
                                                {
                                                    $(".editTextbox").show();
                                                }
                                                else
                                                {
                                                    $(".editTextbox").show();
                                                }
                                            });
                    
                                        });
                                    </script>
                                }
                            </p>
                            @if (Model.commentsForStatuses != null)
                            {
                                foreach (Comment c in Model.commentsForStatuses)
                                {
                                    if (c.StatusID == s.ID)
                                    {
                                        <p class="comment">
                                            <a href="/Home/Profile?username=@c.UserName">@c.UserName</a> | @c.Body | @c.DateInserted
                                            <span> | </span>
                                            @if (Model.currentUser.Id == s.UserID)
                                            {
                                                @Html.ActionLink("Remove", "RemoveComment", "Status", new { id = c.ID }, null)
                                            }
                                        </p>
                                    }
                                }
                            }
                    
                            @using (Html.BeginForm("CreateComment", "Status", FormMethod.Post, new { id = "commentForm" }))
                            {
                                <input type="hidden" name="statusID" value="@s.ID" />
                                <div class="form-horizontal">
                                    <label class="sr-only" for="commentText">Status</label>
                                    <input type="text" class="form-control" name="commentText" />
                                </div>
                                <input type="hidden" name="returnUrl" value="" />
                                @Html.ValidationSummary(false)
                            }
                        </span>
                    </div>
                }
            </section>


        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}