@model ProbbySocialNetwork.Models.ViewModels.FeedViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Dem feed</h2>
<div class="container">
    <div class="lhsNav">
        <img src="http://fc06.deviantart.net/fs49/f/2009/220/b/0/Spongebob_4_150x150_PNG_by_somemilk.png">
        <p>@Model.currentUser.UserName</p>

        <ul>
            <li>group 1</li>
            <li>group 2</li>
            <li>group 3</li>
            <li>group 4</li>
        </ul>
    </div>
    <div class="theContent">
        <!--breyta i html helper-->

        <section>
            <h4>Create Status</h4>
            @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { id = "statusForm" }))
            {
                <input type="hidden" name="userid" value="" />
                <div class="form-horizontal">
                    <label class="sr-only" for="statusText">Status</label>
                    <textarea class="form-control" rows="4" id="statusText" name="statusText" ></textarea>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
                @Html.ValidationSummary(false)
            }
      
        </section>
        @using ProbbySocialNetwork.Models
        <section id="commentList">
            @foreach(Status s in Model.newestStatuses)
            {
                <h3>
                    @Model.currentUser.UserName
                </h3>
                <p>
                    @s.Post | @s.Date
                </p>
                if (Model.commentsForStatuses != null)
                { 
                    foreach(Comment c in Model.commentsForStatuses)
                    {
                        if (c.StatusID == s.ID)
                        {
                            <p class="comment">
                                @c.UserName: @c.Body | @c.DateInserted
                            </p>
                        }
                    }
                }
                
                using (Html.BeginForm("CreateComment", "Status", FormMethod.Post, new { id = "commentForm" }))
                {
                    <input type="hidden" name="statusID" value="@s.ID" />
                    <div class="form-horizontal">
                        <label class="sr-only" for="commentText">Status</label>
                        <textarea class="form-control" rows="2" id="commentText" name="commentText"></textarea>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                    
                    <input type="hidden" name="returnUrl" value="" />
                    @Html.ValidationSummary(false)
                }

            }
        </section>
         
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}