@model ProbbySocialNetwork.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>
    var main = function () {
        $(".onClick").click(function () {
            $(".appendTo").append("<input type='text' name='url' size='35' maxlength='255' placeholder='Insert IMG url here'/>");
            $(".onClick").hide();
        });
    }
    $(document).ready(main);
</script>

<div class="container nw">
    <div class="lhsNav">
        <img src="@Model.profileOwner.ProfilePic" class="profilePic">
        @if (Model.currentUser.Id == Model.profileOwner.Id)
        {
            using (Html.BeginForm("EditProfilePic", "Home", FormMethod.Post, new { id = "profilePictureForm" }))
            {
                <div class="form-horizontal">
                    <label class="sr-only" for="picLink">New Picture</label>
                    <input tyep="text" id="newProfilePic" name="picLink" placeholder="Link to profile picture..." />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                @Html.ValidationSummary(false)
            }
        }
        
        <p>@Model.profileOwner.UserName's Profile</p>
        @if (Model.profileOwner.UserName != User.Identity.Name)
        {
            if (Model.profileOwnerFollowing.Contains(Model.profileOwner))
            {
                @Html.ActionLink("Unfollow", "RemoveFollowing", "Account", new { username = Model.profileOwner.UserName }, new { @class = "unfollowButton" })
            }
            else
            {
                @Html.ActionLink("Follow", "AddFollowing", "Account", new { username = Model.profileOwner.UserName }, new { @class = "followButton" })
            }
        }
        <div class="follow">
            <h2>Following list : @Model.profileOwnerFollowing.Count</h2>
            <div class="follow-list">
                <ul>
                    @foreach (ApplicationUser a in Model.profileOwnerFollowing)
                    {
                        <li>
                            <a href="/Home/Profile?username=@a.UserName">@a.UserName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="follow">
            <h2>Follower list : @Model.profileOwnerFollowers.Count</h2>
            <div class="follow-list">
                <ul>
                    @foreach (ApplicationUser a in Model.profileOwnerFollowers)
                    {
                        <li>
                            <a href="/Home/Profile?username=@a.UserName">@a.UserName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        
    </div>
    <div class="theContent">
        <section>
            @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { id = "statusForm" }))
            {
                <input type="hidden" name="userid" value="@Model.currentUser.Id " />
                <input type="hidden" name="groupID" value="" />
                <input type="hidden" name="postedToID" value="@Model.profileOwner.Id" />
                <select name="chosenHobby">
                    @foreach (Hobby h in Model.profileOwnerHobbies)
                    {
                        if (@h.Name == "Misc")
                        {
                            <option value="@h.Name" selected="selected">#@h.Name</option>
                        }
                        else
                        {
                            <option value="@h.Name">#@h.Name</option>
                        }
                    }
                </select>
                <div class="form-horizontal">
                    <label class="sr-only" for="statusText">Status</label>
                    <textarea class="form-control" rows="4" id="statusText" name="statusText" placeholder="Insert a status..."></textarea>
                    <span class="appendTo"></span>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>

                @Html.ValidationSummary(false)
            }
            <button class="onClick">Upload image</button>
        </section>

        @using ProbbySocialNetwork.Models
        <section id="statusList">
            @foreach (Status s in Model.profileOwnerStatusHistory)
            {
                <div class="status">
                    <div class="lhsStatus">
                        <p>
                            <img src="@s.ProfilePic" class="postPic" />
                        <p class="postUserName"><a href="/Home/Profile?username=@s.UserName">@s.UserName</a></p>
                        @{
                ServiceSingleton serviceManager = ServiceSingleton.GetInstance;
                HobbyService service = ServiceSingleton.GetHobbyService;
                Hobby statusHobby = service.getHobbyByID(s.HobbyID);
                if (statusHobby != null)
                {
                    <p>#@statusHobby.Name</p>
                }
                        }
                    </div>
                    <span class="rhsStatus">
                        <div class="allStatus">
                            <div class="statusContent">
                                <!--Status content and edit form for status-->
                                <h3 id="@("statusText"+s.ID)" class="statusContent2">@s.Post</h3>
                                @using (Html.BeginForm("EditStatus", "Status", FormMethod.Post, new { id = s.ID }))
                                {
                                    <input type="hidden" name="statusId" value="@s.ID" />
                                    <div id="@("statusTextForm"+s.ID)" class="editForm">
                                        @*need id for textarea to get into controller*@
                                        <label for="@("statusTextbox"+s.ID)">Status:</label>
                                        <input type="text" name="@("statusTextbox"+s.ID)" value="@s.Post" />
                                        <br />
                                        @if (s.MediaURL != null)
                                        {
                                            <label for="@("picTextbox"+s.ID)">Picture:</label>
                                            <input type="text" name="@("picTextbox"+s.ID)" value="@s.MediaURL" />
                                            <br />
                                        }
                                        <button type="submit" class="btn btn-primary">Confirm Edit</button>
                                    </div>
                                }

                                <!--img status and edit form for img url-->
                                @if (s.MediaURL != null)
                                {
                                    <img src="@s.MediaURL" alt="image" class="statusContent2" id="@("statusPic"+s.ID)" />
                                }
                            </div>

                            <!--edit and remove links-->
                            <p>
                                @s.Date
                                @if (Model.currentUser.Id == s.UserID)
                                {
                                <!--onclick it will hide status content and show edit form-->
                                    <span> | </span>
                                    <a class="editLink" onclick="editStatus(@s.ID)">Edit</a>
                                    <span> | </span>
    <div>
        <a class="btn" href="@Url.Action("RemoveStatus", "Status")" id="A1">
            <span class="font-icon-group"></span> All Groups
        </a>
    </div>
                                    @Html.ActionLink("Remove", "RemoveStatus", "Status", new { id = s.ID }, null)
                                }
                            </p>
                        </div>
                            
                            @if (Model.commentsForStatuses != null)
                            {
                                <div class="allComments">
                                    @foreach (Comment c in Model.commentsForStatuses)
                                    {
                                        if (c.StatusID == s.ID)
                                        {
                                            <div class="comment">
                                                <h5 id="@("commentText"+c.ID)" class="commentContent2">@c.Body</h5>
                                                @using (Html.BeginForm("EditComment", "Status", FormMethod.Post, new { id = c.ID }))
                                                {
                                                    <input type="hidden" name="commentId" value="@c.ID" />
                                                    <div id="@("commentTextForm"+c.ID)" class="editForm">
                                                        @*need id for textarea to get into controller*@
                                                        <label for="@("commentTextbox"+c.ID)">Comment:</label>
                                                        <br />
                                                        <input type="text" name="@("commentTextbox"+c.ID)" value="@c.Body" />
                                                        <br />
                                                        <button type="submit" class="btn btn-primary">Confirm Edit</button>
                                                    </div>
                                                }
                                                <a href="/Home/Profile?username=@c.UserName">@c.UserName</a> | @c.DateInserted
                                                @if (Model.currentUser.Id == c.UserID)
                                                {
                                                    <span> | </span>
                                                    <a class="editLink" onclick="editComment(@c.ID)">Edit</a>
                                                    <span> | </span>
                                                    @Html.ActionLink("Remove", "RemoveComment", "Status", new { id = c.ID }, null)
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            }

                            @using (Html.BeginForm("CreateComment", "Status", FormMethod.Post, new { id = "commentForm"}))
                            {
                                <input type="hidden" name="statusID" value="@s.ID" />
                                <div class="form-horizontal">
                                    <label class="sr-only" for="commentText">Status</label>
                                    <input type="text" class="form-control" name="commentText" placeholder="Write a comment..." />
                                </div>
                                <input type="hidden" name="returnUrl" value="" />
                                @Html.ValidationSummary(false)
                            }
                    </span>
                </div>
            }
        </section>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
