@model ProbbySocialNetwork.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}


<script>

    var main = function () {

        $('.imageUrl').hide();

        $('#uploadImage').click(function () {


            $('.imageUrl').toggle();

            $('#uploadImage').hide();
        });




    }

    $(document).ready(main);





</script>

<div class="container">
    <div class="lhsNav">
        <img src="~/Content/Images/dabs.jpg" id="profilePic">
        <p>@Model.currentUserProfile.UserName's Profile</p>
    </div>
    <div class="theContent">
        <!--Status-->
        <div class="status">
            <h4>Create Status</h4>
            @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { id = "statusForm" }))
            {
                <input type="hidden" name="userid" value="@Model.currentUser.Id" />
                <input type="hidden" name="groupID" value="" />
                <input type="hidden" name="postedToID" value="@Model.currentUserProfile.Id" />
                <div class="form-horizontal">
                    <label class="sr-only" for="statusText">Status</label>
                    <textarea class="form-control" rows="4" id="statusText" name="statusText"></textarea>
                    <input type="button" id="uploadImage" value="Upload image" />
                    <div class="imageUrl">
                        <label for="url">Enter URL:</label>
                        <input type="text" name="url" size="35" maxlength="255" />
                        <input type="submit" name="submit" value="Submit" />
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
                @Html.ValidationSummary(false)
            }

        </div>
        @using ProbbySocialNetwork.Models
        @foreach (Status s in Model.currentUserStatusHistory)
        {
            <div id="status">
                <h3>
                    @if (s.Post == null)
                    {
                        <img src="@s.MediaURL" alt="image" />
                    }
                    else
                    {
                        @s.Post
                    }
                </h3>
                <p>
                    @s.UserName | @s.Date |
                    @if (Model.currentUser.Id == s.UserID)
                    {
                        @Html.ActionLink("Remove", "RemoveStatus", "Status", new { id = s.ID }, null)
                    }
                </p>
                <div id="status-comment">
                    @foreach (Comment c in Model.commentsForStatuses)
                    {
                        if (c.StatusID == s.ID)
                        {
                            <span id="status-comment-body" class="comment">
                                <p>
                                    @c.UserName: @c.Body | @c.DateInserted |

                                    @if (Model.currentUser.Id == s.UserID)
                                    {
                                        @Html.ActionLink("Remove", "RemoveComment", "Status", new { id = c.ID }, null)
                                    }
                                </p>
                            </span>
                        }
                    }
                </div>
                <div>
                    @using (Html.BeginForm("CreateComment", "Status", FormMethod.Post, new { id = "commentForm" }))
                    {
                        <input type="hidden" name="statusID" value="@s.ID" />
                        <div class="form-horizontal">
                            <label class="sr-only" for="commentText">Status</label>
                            <textarea class="form-control" rows="2" id="commentText" name="commentText"></textarea>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                        @Html.ValidationSummary(false)
                    }
                </div>
            </div>
        }
    </div>
</div>
    

